.form {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 25px;
  font-size: 32px;
  text-transform: uppercase;
}
.inputWrapper {
  padding: 12px 0;
  position: relative;
}
.input {
  border: 1px solid #ececec;
  box-shadow: 0 0 4px #f0f0f0;
  font-size: 22px;
  padding: 18px 22px;
  width: 540px;
  transition: 0.3s ease-out;
  outline: none;
  &:focus {
    border-color: #dcdcdc;
    box-shadow: 0 0 3px #d7d7d7;
  }
  &::placeholder {
    color: #dcdcdc;
  }
}
.sumbitBtn {
  width: 540px;
  margin: 35px 0;
  padding: 20px 150px;
  color: white;
  background: linear-gradient(-40deg, #6bffeb, #b689ff);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  outline-offset: -5px;
  outline-color: #ffffff;
}
.hint {
  color: black;
  font-weight: 400;
}
.styledLink {
  font-weight: 800;
  color: #b689ff;
  text-decoration: underline;
  text-decoration-color: black;
}